
div{
    background-color: aqua;
    width: 300px;
    margin: auto;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
}
div h1{
    color: red;
    margin: 0;
    padding-bottom: 10px;
    font-size: 50px;
}

span{
    background-color: blue;
    font-size: 30px;
    padding: 10px 12px;
    color: white;
    font-family: arial;
    font-weight: bolder;
    border-radius: 5px;
    margin: 5px;
}